location.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
   <xs:element name = "location">
      <xs:complexType>
         <xs:sequence>
            <xs:element name = "username" type = "xs:string" />
            <xs:element name = "useremail" type = "xs:string" />
            <xs:element name = "phone" type = "xs:string" />
            <xs:element name = "pickloc" type = "xs:string" />
            <xs:element name = "droploc" type = "xs:string" />
            <xs:element name = "date" type = "xs:int" />
         
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
